<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatis2.repository.ora.MetaboxingMapper">
    <select id="findByAllMetaboxing" resultType="com.example.mybatis2.vo.Metaboxing">
        SELECT PROJECTID, SOURCEVALUE
        FROM METABOXING
        WHERE ROWNUM <![CDATA[<]]> 2
    </select>
</mapper>